<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PokeDex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Digite o nome do Pokémon" type="text" labelPlacement="floating" [(ngModel)]="nome"></ion-input>
      <ion-button (click)="verificar()">
        Verificar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>